.modalhprop{
    position:fixed;
    right: 3%;
    bottom: 1%;
}
.modal-contenthomeprofile {
    border-radius: 5px;
    padding: 20px;
    flex-direction: row;
    /* background: rgba( 14, 14, 14, 0.4 ); */
box-shadow: 5px 8px 32px  rgba(243, 243, 243, 0.37);
border-radius: 10px;

  }
  .modal-contenthomeprofile  p{
    color: aliceblue;
    text-transform: capitalize;
    text-transform: uppercase;
  }
  .modal-contenthomeprofile  p span{
    font-weight: 600;
  }
  .containerimag{
    display: block;
     display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailcontainer{
    display: block;
  }
  .containerimag img{
    height: 200px;
    width: 200px;
  }