.modalprofile {
    position:fixed;
    top: 28%;
    right: 1%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .modal-contentprofile {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.261);
    padding: 20px;

  }
  .modal-contentprofile p span{
    text-transform: uppercase;
  }
  
  .closespro {
    position: relative;
    top: -180px;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .imagepro{
    position: relative;
    border-radius: 50%;
   height: 200px;
   width: 200px;
  }
  .linkedicon{
    color: #0077B5;
    font-size: 1.5rem;
  }
  .iconbutton{
    color: #04a7ff5d;
    font-size: 1.5rem;
    position: relative;
    left: 30%;
  }
     .containerimag {
       display: block;
       display: flex;
       justify-content: center;
       align-items: center;
     }
  
     .detailcontainer {
       display: block;
     }
  
     .containerimag img {
       height: 200px;
       width: 200px;
     }