.modalresult {
    position: fixed;
    top: 80px;
    z-index: 1000;
    left: 0;
    width: 100%;
    display: flex;
      justify-content: center;
  }
 .visible {
    animation: movedown 1s forwards;
  }
  .notvisible {
    animation: moveup 1s forwards;
  }
  @keyframes movedown {
    0% {
      transform: translateY(-400px); /* Start position: move up by 100px */
    }
    60% {
      transform: translateY(100px); /* End position: move down to original position */
    }
    100% {
      transform: translateY(0); /* End position: move down to original position */
    }
  }
  @keyframes moveup {
    100% {
      transform: translateY(-400px); /* Start position: move up by 100px */
    }
   
    0% {
      transform: translateY(0); /* End position: move down to original position */
    }
  }
  .modal-contenthelpsu {
    background-color: rgba(0, 0, 0, 0.629);
    padding: 20px;
    /* margin: 0  10%; */
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.3);
    display: flex;
      justify-content: center;
      align-items: center;
  }
  


  .searchtext  {
   color: aliceblue;
   text-decoration: none;
   justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .searchtext div:hover{
    cursor: pointer;
    text-decoration: underline;

  }
  
