.searchBox {
    display: flex;
    max-width: 200px;
    align-items: center;
    background: #ffffff53;
    border-radius: 10px;
    position: absolute;
    right: 1%;
    top: 10%;
  }
   .searchBox:hover{
    background: #ffffff6e;
    /* max-width: 194px; */
    /* top: 11%; */
    



  } 
  
  